{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block heading %}
    Inicio
{% endblock %}


{%  block content %}

    {% if 'user' in session %}
    <div class="row">
      <div class="col-sm-3">
        <form action="/recomendacion" method="POST">
          <div class="form-group">
            <label for="exampleFormControlSelect1">ID de usuario</label>
            <select class="form-control" name="id_usuario" required>
              <option></option>
              {% for usuario in usuarios %}
              <option>{{ usuario }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Número de recursos</label>
            <input type="number" class="form-control" name="nmro_recursos" min="1" max="20" required>
          </div>
          <br>
          <div class="form-group">
           <button class="btn btn-primary" type="submit">Recomendar</button>
          </div>
        </form>
      </div>
    </div>

    {% else %}
        <p>Para usar el sistema debe iniciar sesión</p>

    {% endif %}

{% endblock %}